 body {
        background-image: url(shapeyou.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
      }
      
        
      .container
      {
        text-align: right;
       
        }
        .right-span1 {
          font-size: 30px;
          margin-right: 10px;
          display: inline-block;
        }    
        .right-span2 {
          font-size: 30px;
          margin-left: 10px;
          margin-right:10px ;
          display: inline-block;
        }    
        .right-span3 {
          font-size: 30px;
          margin-left: 10px;
          margin-right:10px ;
          display: inline-block;
        }    
        .right-span4 {
          font-size: 30px;
          margin-left: 10px;
          margin-right: 10px;
          display: inline-block;
        }    
        .right-span5 {
          font-size: 30px;
          margin-right: 10px;
          margin-left: 10px;
          display: inline-block;
        }    
        .search-container
        {
          display: inline;
          border-radius: 40px;
          overflow: hidden;
          height: 40px;
          width: 450px;
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);
        
        }
        .searchbar {
          padding: 8px;
          border: none;
          border-radius: 20px;
          outline: none;
          width: 100%;
          height: 100%;
          padding: 8px;
        }
.searchbar::placeholder{
  font-size: 20px;
}
.input-field {
  margin-bottom: 10px;
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.Submit-Button
{
  background-color: green;
  color: rgb(16, 18, 17);
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.Submit-button
{
 margin-top: 30%;
}

.datalistt
{
   top: 10%;
}

.search-container
{
  margin-top: 15% ;

   
}